LISTEN 127.0.0.1 3493
{% if nut_mode == 'netserver' %}
LISTEN 0.0.0.0 3493
{% endif %}

# Maximum number of connections
MAXCONN 1024

# Time in seconds before data is marked stale
STATEPATH /var/run/nut
MAXAGE 15